<h1>Sing Up Form</h1>

<form action="/register" method="POST" >
    <input type="text" name= "username" placeholder="Username">
    <input type="password" name="password" placeholder="*******">
    <button>Submit</button>
</form>

<li><a href="/register">Sing Up</a></li>

<li><a href="/login">Login</a></li>

<li><a href="/logout">Logout</a></li>
