body {
    background-color: beige;
}

h1 {
    color: darkgoldenrod;
    border: 40px;
    border-color: darkkhaki;
    border-width: 10px;
    border-style: ridge;
    width: 78%;
}
#first {
    border: 5px solid beige; 
    background: floralwhite;
    border-radius: 60px;
}
.second {
    color: darkgoldenrod;
    list-style: square;
}

ol:nth-of-type(1)  {
    border: 5px solid red;
    width: 30%;   
}
td {
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
}
.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.ttt {
    border-collapse: separate;
    border-spacing: 2px;
    vertical-align: inherit;
    display: table-cell;
    
}
table {
    margin: auto;
}